.fsdpicon-pause {
	background: url('../../img/common/icons/control_pause_blue.png') no-repeat center center;
}

.fsdpicon-add {
	background: url('../../img/common/icons/add.png') no-repeat center center;
}

.fsdpicon-start {
	background: url('../../img/common/icons/control_play_blue.png') no-repeat center center;
}

.fsdpicon-test {
	background: url('../../img/common/icons/lightning.png') no-repeat center center;
}

.fsdpicon-edit {
	background: url('../../img/common/icons/pencil.png') no-repeat center center;
}
.fsdpicon-delete {
	background: url('../../img/common/icons/delete.png') no-repeat center center;
}
.fsdpicon-note {
	background: url('../../img/common/icons/note.png') no-repeat center center;
}
.fsdpicon-refresh {
	background: url('../../img/common/icons/arrow_refresh.png') no-repeat center center;
}

.fsdpicon-define {
	background: url('../../img/common/icons/plugin_add.png') no-repeat center center;
}
.fsdpicon-working {
	background: url('../../img/common/icons/fdsp-working.ico') no-repeat center center;
}
.fsdpicon-stoped {
	background: url('../../img/common/icons/fdsp-stoped.ico') no-repeat center center;
}






